
.header {
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 45px;
  color: #006C9D;
  padding: 0px 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

.side {
  flex: auto;
  max-width: 50%;
}

.image {
  text-align: right;
}

.principal {
  text-align: left;
  padding: 50px 20px 20px 20px;
}

.principal .titleSteps {
  font-size: 24px;
  color: #5A6A72;
  font-weight: bold;
}

.principal .description {
  font-size: 16px;
  padding: 24px 0px;
  color: #5A6A72;
  font-weight: 300;
}

.principal .titleSteps span {
  color: #006C9D;
}

.principal .stepText span {
  color: #006C9D;
}

.principal .stepText {
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 300;
}

.cam {
  padding: 10px 40px;
  margin: 0px 50px;
}

.footer {
  text-align: right;
  padding: 10px 30px;
}
